.container{
  border: 5px solid red;
  width: 500px;
  margin: 20px;
}

.inner1{
  font-size: 2rem;
  border: 5px solid black;
  padding: 0px 10px;
  /* 기본적으로 width 속성은 content 영역의 크기 */
  width: 500px;

  /* 컨텐츠 영역을 기준으로 크기 표현 */
  box-sizing: content-box;
}

.inner2{
  font-size: 2rem;
  border: 5px solid black;
  padding: 0px 10px;
  width: 500px;

  /* 요소의 테두리까지를 크기로 설정 */
  box-sizing: border-box;
}
