/* 
  overflow는 영역에 비해 컨텐츠의 양이 더 많을 때 어떻게 컨트롤할지 설정하는 속성
*/


.box{
  width: 300px;
  height: 150px;
  border: 1px solid black;
  margin: 70px;

  /* visible = 기본속성으로 내용이 넘쳐도 그대로 보여줌 */
  overflow: visible;

}

.d2 {
  /* hidden = 내용의 크기가 넘쳐도 태그 양에 맞춰 보여줌 */
  overflow: hidden;
}

.d3 {
  /* 
    scroll = 태그 양에 맞춰 스크롤 생성하여 컨텐츠 내용 보여줌
              ps) 공간이 충분하여도 스크롤 생성 후 보여줌 
  */
  overflow: scroll;
}

.d4 {
  /* auto = 자동으로 내용에 맞춰 스크롤 생성해서 보여줌 */
  overflow: auto;
}

