
/* 
  가상클래스 : 가상의 선택자

  : = :: 차이점은 콜론 하나는 css2 문법
  콜론 두개는 css3 문법
  호환성을 위해 콜론 하나 쓰면 된다.
  (vscode에서 자동완성 되는대로 쓰면됨)

  부가설명
  css3에서 가상 요소(::)와 가상 클래스(:)를 구분하기 위해 추가.

  가상요소 : 실제로 존재하지 않는 요소에 스타일을 적용할 때 사용
    before, after
    first-line : 요소의 첫번째 줄
    first-letter : 요소의 첫번째 글자
  가상클래스 : 요소의 상태나 조건에 따라 스타일을 적용할 때 사용
    hover, focus, nth-child(), first-child

  ::after, ::before = 유지보수(수정) 용이

*/

div {
  width: 150px;
  height: 150px;
  background-color: darkcyan;
  color: white;
  border: 1px solid black;
  font-size: 2rem;
  margin: 30px;
  text-align: center;
  line-height: 150px;

  /* 애니메이션 기능 */
  /* 변환시 속도(1s) */
  transition: all 1s;
}

/* hover(가상클래스) : 마우스를 올렸을 때 */
.d1:hover {
  width: 300px;
  height: 300px;
  line-height: 300px;
}

.d2:hover{
  background-color: cyan;
  color: deeppink;
}

input {
  width: 150px;
  margin-left: 30px;
  transition: all 1s;
}

/* focus(가상클래스) -> 클릭하여 활성화 되었을때 */
input:focus {
  width: 300px;
  border: 1.5px solid lime;
  
  /* 클릭 활성화시 생성되는 OUTLINE */
  /* border와는 다른 개념 */
  outline: none;
}

/* before(가상클래스) -> 선택자 앞에 인라인 요소를 추가 */
.li-1:before {

  /* 추가할 요소를 넣는다. "" -> 같이 넣어줘야함. */
  content: "new";
  background-color: aquamarine;
  color: red;
  border-radius: 6px;
  padding: 3px 6px;
  margin-right: 6px;
  
}

.li-1::after {
  content: "old";
  background-color: aquamarine;
  color: red;
  border-radius: 6px;
  padding: 3px 6px;
  margin-left: 6px;
}

