
.container {
  width: 600px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid black;

  display: grid;
  
  /* grid-template-columns: 50px 100px 50px 200px;
  grid-template-rows: 100px 200px 300px; */

  /* grid-template-columns: 20% 30% 40%;
  grid-template-rows: 10% 20% 10%; */

  /* flex-grow와 비슷한 개념으로 상대적 비율 */
  /* grid-template-columns: 1fr 2fr 1.5fr;
  grid-template-rows: 1fr 2fr 1fr; */

  /* grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 25%); */

  /* grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto); */

  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);

  
  /* gap: 10px; */
  /* gap: 10px 30px; (상하, 좌우) */

  align-content: space-evenly;
  justify-content: space-evenly;

}

.container > div {
  border: 1px solid red;
}

