
.container{
  width: 600px;
  height: 400px;
  margin: 20px auto;
  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);

  align-items: center;
  justify-items: center;
}

.container > div {
  border: 1px solid red;
  border-radius: 35%;
  padding: 10px;
  background-color: rgba(139, 0, 0, 0.541);
  color: white;
  font-weight: bold;
}

.container > div:nth-child(1) {
  align-self: start;
  justify-self: start;
}


