
body{
  background-color: rgb(209, 209, 209);
}

/* 1번 이미지 */
.container {
  width: 600px;
  height: 400px;
  border: 2px solid black;
  margin: 10px auto;
}

.container >div:first-child{
  border: 2px solid red;
  height: 20%;
  color: red;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div:nth-child(2){
  border: 2px solid blue;
  height: 60%;
  display: flex
}

.container > div:nth-child(2) > div:nth-child(1){
  border: 2px solid cyan;
  flex-grow: 1;
  color: red;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div:nth-child(2) > div:nth-child(2){
  border: 2px solid darkcyan;
  width: 75%;
  color: red;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div:nth-child(3){
  border: 2px solid yellow;
  height: 20%;
  color: red;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 3번 이미지 */
.container2 {
  width: 600px;
  height: 400px;
  border: 2px solid black;
  margin: 10px auto;
}

.container2 > div:nth-child(1){
  border: 2px solid red;
  height: 20%;
}

.second-row {
  border: 2px solid green;
  display: flex;
  height: 80%;
}

.second-row > div:first-child {
  border: 2px solid lawngreen;
  width: 60%;
}

.second-row > div:last-child {
  border: 2px solid lawngreen;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.second-row > div:last-child > div {
  flex-grow: 1;
  /* flex-basis: 40%; 주면 120%로 내용이 넘치지만 flex 자체에서 over flow:hidden과 같은 개념으로 보정 */
  border: 2px solid blue;
}

