
body{
  background-color: rgb(173, 173, 173);
}

.header{
  background-color: black;
  color: white;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  margin: 0px 20px;
  width: 30%;
}


ul {
  display: flex;
  justify-content: space-between;
}

