
body{
  background-color: lightgray;
}

input{
  padding: 6px;
}

.container {
  padding: 50px;
  color: white;
  background-color: black;
  font-weight: 500;
  font-size: x-large;

  display: flex;
  justify-content: space-between;
}

.d1 {
  display: flex;
}

span, input {
  
  display: inline-flex 30px;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  display: inline-flex;
}

