
.container {
  width: 1200px;
  margin: 0px auto;
}



/* header */

.header {
  background-color: #0c51a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: white;
}

.header > h1 {
  margin-left: 30px;
}

.header > h1:hover{
  cursor: pointer;
  color: lightgray;
}

.header > ul {
  background-color: #0a4288;
  display: flex;
  justify-content: space-around;
  width: 600px;
  padding: 16px 0px;
}

.header a {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
}


/* banner */


.banner{
  position: relative;
}

.banner > img {
  width: 100%;
}

img {
  /* 인라인블록 태그여서 빈 공백 메우려면 요소를 바꿔야함. */
  display: block;
}

.banner > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner > div > div {
  background-color: rgba(0, 0, 0, 0.4);
  width: 400px;
  text-align: center;
  color: white;
  padding: 16px;

  
  /* 정렬 축 center 변경시 명령어 */

  /* transform: translate(-50%, -50%); */
  /* top: 50%;
  left: 50%; */

  /* 모르면 .banner > div 코드 다 쳐야됨 */
}

.banner > div > div > p:first-child {
  font-size: 1.8rem;
  font-weight: 600;
}




/* content */

.content {
  display: flex;
}

.board {
  background-color: #e5f1ff;
  padding: 10px;
}

.board > h2 {
  margin-bottom: 12px;
}


.board a {
  color: black;
  text-decoration: none;
  margin-bottom: 12px;
  font-weight: 600;
}

.board a:hover{
  color: gray;
}


.board > ul > li {
  display: flex;
  justify-content: space-between;
}


.content > div {
  /* 균등 분배 방법: 남은 공간 비율에 따른 분배 */
  flex-grow: 1;
  flex-basis: 0;

  /* flex : 1 1 0; = > flex-grow, flex-shrink, flex-basis 속성을 한번에 변경 가능 */
}

.content img {
  width: 100%;
  height: 100%;
}

.banner1 {
  position: relative;
}

.reserve {
  text-align: center;
  width: 80%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reserve > button {
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 18px;
}

.reserve > button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}




/* footer */

.footer{
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #e7e7e7;
}

.footer > h1 {
  width: 30%;
  color: gray;
}

.footer > div {
  width: 55%;
  text-align: center;
}

.footer-list {
  display: flex;
  justify-content: space-around;
}

.footer-list a{
  text-decoration: none;
  color: black;
}

.footer-list a:hover{
  color: gray;
}

.footer p{
  margin-top: 6px;
}