table{
  width: 700px;
  margin: 0px auto;
  border-collapse: collapse;
  text-align: center;
}

/* 제목행(줄)에는 위, 아래 테두리만! */
thead > tr{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgba(129, 129, 236, 0.5);
  color: white;
}

/* 내용 행에는 아래 테두리만 ! */
tbody > tr{
  border-bottom: 1px solid black;
}

td{
  padding: 5px;
}

/* 내용 행에서 짝수번째 행만 배경색 */
tbody > tr:nth-child(even){
  background-color: lightgray;
}

/* 내용 행에서 제목 열만 정렬 변경 */
tbody > tr > td:nth-child(2){
  text-align: left;
}

thead > tr > td:nth-child(2){
  text-align: left;
}

/* 
색상 변경 방법
  1. 정해진 키워드 사용 (red, blue...)
  2. RGB 문법 사용(0~f)
    ex) #000000 -> 검은색
        #ffffff -> 흰색
        #00ff00 -> 초록색
    rgb(0, 0, 255)

  3. RGBA 문법 사용 
    rgba(0, 0, 255, 0~1)
      -> a = 투명도 조절
    마지막 값이 0이면 투명, 1이면 불투명
*/
