*{
  box-sizing: border-box;
}

.header{
  width: 100%;
  background-color: black;
  padding: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.headerList{
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.header div:hover{
  cursor: pointer;
  text-decoration-line: underline;
}
