.btn{
  padding: 4px 16px;
  font-size: 0.7rem;
  background-color: rgb(127, 166, 240);
  border: none;
  color: white;
  border-radius: 4px;
  box-shadow: 1px 4px 0px hsla(0, 0%, 0%, 0.7);
  margin: 4px;
  text-align: center;
}

.btn:hover{
  cursor: pointer;
  background-color: hsla(219, 79%, 66%, 1);
}

.small{
  width: 80px;
}

.normal{
  width: 100px;
}

.large{
  width: 120px;
}

.btn:active{
  box-shadow: 1px 1px 0px hsla(0, 0%, 0%, 0.7);
  position: relative;
  top: 2px;
}