<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.shop.mapper.ShopMapper">

    <insert id="insertItem">
        INSERT INTO SHOP_ITEM(
            ITEM_NAME
            , ITEM_PRICE
            , ITEM_INTRO
        ) VALUES(
            #{itemName}
            , #{itemPrice}
            , #{itemIntro}
        )
    </insert>

    <select id="selectShopList" resultType="ShopDTO">
        SELECT ITEM_CODE
            , ITEM_NAME
            , ITEM_PRICE
            , REG_DATE
        FROM SHOP_ITEM
    </select>

    <select id="selectItem" resultType="ShopDTO">
        SELECT ITEM_CODE
            , ITEM_NAME
            , ITEM_PRICE
            , ITEM_INTRO
            , REG_DATE
        FROM SHOP_ITEM
        WHERE ITEM_CODE = #{itemCode}
    </select>

    <delete id="deleteItem">
        DELETE FROM SHOP_ITEM
        WHERE ITEM_CODE = #{itemCode}
    </delete>

    <update id="updateItem">
        UPDATE SHOP_ITEM
        SET
        ITEM_NAME = #{itemName}
        , ITEM_PRICE = #{itemPrice}
        , ITEM_INTRO = #{itemIntro}
        WHERE ITEM_CODE = #{itemCode}
    </update>

</mapper>































