<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.react_shop.mapper.OrderMapper">
    <!--주문할때, 상품명과 가격, itemNum를 구하는 select문-->
    <select id="getOrderItem" resultType="ShopItemDTO">
        SELECT ITEM_NUM
        , ITEM_NAME
        , ITEM_PRICE
        FROM ITEM_INFO
        WHERE ITEM_NAME = #{itemName}
    </select>

    <!--주문 정보를 생성하는 쿼리문-->
    <insert id="insertOrder">
        INSERT INTO ORDER_INFO(
            ITEM_NUM
            , BUYER
            , BUY_CNT
            , BUY_PRICE
        ) VALUES(
            #{itemNum}
            , #{buyer}
            , #{buyCnt}
            , #{buyPrice}
        )
    </insert>

    <!-- 서브 쿼리 방식으로 풀이 //////////////////////////////////// -->
    <insert id="result">
        INSERT INTO ORDER_INFO(
            ITEM_NUM
            , BUYER
            , BUY_CNT
            , BUY_PRICE
        ) VALUES(
            #{itemNum}
            , #{buyer}
            , #{buyCnt}
            , (SELECT ITEM_PRICE
                FROM ITEM_INFO
                WHERE ITEM_NUM = #{itemNum}) * #{buyCnt}
        )
    </insert>
    <!-- //////////////////////////////////////////////////////// -->

    <!--조인문을 활용하여 주문목록을 출력하는 쿼리문-->
    <select id="getOrderList" resultType="OrderDTO">
        SELECT I.ITEM_NAME
        , I.ITEM_PRICE
        , O.ORDER_NUM
        , O.BUY_CNT
        , O.BUY_PRICE
        , O.BUYER
        , O.BUY_DATE
        FROM ITEM_INFO I INNER JOIN ORDER_INFO O
        ON I.ITEM_NUM = O.ITEM_NUM
        ORDER BY O.ORDER_NUM DESC
    </select>

    <!-- 한 개의 주문 목록을 삭제하는 쿼리문 -->
    <delete id="deleteOrder">
        DELETE FROM ORDER_INFO
        WHERE ORDER_NUM = #{orderNum}
    </delete>


</mapper>










