<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.book_shop.book.mapper.BookMapper">

    <!-- resultMap : 쿼리 결과 데이터를 자바로 가져올 형태 구성 -->

    <!-- BookCategoryDTO -->
    <resultMap id="bookCategory" type="BookCategoryDTO">
        <id     column="CATE_CODE" property="cateCode" />
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <!-- BookDTO -->
    <resultMap id="book" type="BookDTO">
        <id     column="BOOK_CODE"  property="bookCode"/>
        <result column="BOOK_NAME"  property="bookName"/>
        <result column="BOOK_PRICE" property="bookPrice"/>
        <result column="PUBLISHER"  property="publisher"/>
        <result column="BOOK_INFO"  property="bookInfo"/>
        <result column="REG_DATE"   property="regDate"/>
        <result column="BOOK_STOCK" property="bookStock"/>
        <result column="CATE_CODE"  property="cateCode"/>
    </resultMap>

    <!--///////////////////////////////////////////////////////////////////////////////////-->

    <!-- 카테고리 정보 조회 쿼리 -->
	<select id="getCategory" resultMap="bookCategory">
        SELECT CATE_CODE
            , CATE_NAME
        FROM BOOK_CATEGORY
        ORDER BY CATE_CODE
    </select>

    <!-- 도서 등록 쿼리 -->
    <insert id="regBook">
        INSERT INTO book(
            BOOK_NAME
            , BOOK_PRICE
            , PUBLISHER
            , BOOK_INFO
            , CATE_CODE
        ) VALUES (
            #{bookName}
            , #{bookPrice}
            , #{publisher}
            , #{bookInfo}
            , #{cateCode}
        )
    </insert>

    <!--카테고리 등록 쿼리-->
    <insert id="regCategory">
        INSERT INTO BOOK_CATEGORY(
        CATE_NAME
        ) VALUES(
        #{cateName}
        )
    </insert>



    <!-- //////////////////////////////////////////////////////////////////////// -->
    <!-- 풀이 카테고리명 중복 확인 (유효성 검사시 필요한 쿼리) -->
    <select id="isUsableCateName" resultType="String">
        SELECT CATE_NAME
        FROM BOOK_CATEGORY
        WHERE CATE_NAME = #{cateName}
    </select>
    <!-- //////////////////////////////////////////////////////////////////////// -->



    <!--카테고리 수정 쿼리-->
    <update id="updateCategory">
        UPDATE BOOK_CATEGORY
        SET CATE_NAME = #{cateName}
        WHERE CATE_CODE = #{cateCode}
    </update>

    <!--카테고리 삭제 쿼리-->
    <delete id="deleteCategory">
        DELETE FROM BOOK_CATEGORY
        WHERE CATE_CODE = #{cateCode}
    </delete>

</mapper>































