<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.board.mapper.BoardMapper">

    <!--검색 버튼 클릭시 또는 페이지 로딩시 게시글 조회-->
    <select id="getBoardList" resultType="BoardDTO">
        SELECT BOARD_NUM
        , TITLE
        , WRITER
        , CONTENT
        , READ_CNT
        , REG_DATE
        FROM BOARD
        <if test='searchValue != null and !searchValue.equals("")'>
            WHERE ${searchKeyword} LIKE CONCAT('%' , #{searchValue} , '%')
        </if>
        ORDER BY REG_DATE DESC
    </select>

    <!--게시글 등록-->
    <insert id="regBoard">
        INSERT INTO BOARD(
            TITLE
            , WRITER
            , CONTENT
        ) VALUES(
            #{title}
            , #{writer}
            , #{content}
        )
    </insert>

    <!--게시글 한 개 조회-->
    <select id="getBoard" resultType="BoardDTO">
        SELECT BOARD_NUM
        , TITLE
        , WRITER
        , CONTENT
        , READ_CNT
        , REG_DATE
        FROM BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <!--게시글 삭제-->
    <delete id="deleteBoard">
        DELETE FROM BOARD
        WHERE BOARD_NUM = #{boardNum};
    </delete>

    <!--게시글 등록-->
    <update id="updateBoard">
        UPDATE BOARD
        SET TITLE = #{title}
            , CONTENT = #{content}
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <update id="addCnt">
        UPDATE BOARD
        SET READ_CNT = READ_CNT + 1
        WHERE BOARD_NUM = #{boardNum}
    </update>

</mapper>































