.container{
  width: 400px;
  margin: 0px auto;
}

.container > h1{
  text-align: center;
  margin: 10px;
}

.insertBox{
  display: flex;
}

.insertText{
  flex: 1;
}

.listBox{
  border: 1px solid black;
  margin-top: 10px;
  padding: 5px;
  background-color: #bcd6ed;
}
